<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<body>
    <div class="main-flex">
        <h1>Patrón de diseño - MVC</h1>
        <p>Vista: Register</p>
        <nav class="main-nav">
            <ul class="main-ul">
                <li><a href="/">Ir al Home</a></li>
                <li><a href="/user/login">Ir al Login</a></li>
                <li><a href="/product/productCart">Ir al ProductCart</a></li>
                <li><a href="/product/products">Ir a Products</a></li>
                <li><a href="/user/register">Ir a Register</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>